body {
 
	width: 80%;
  
  background-color: #AFEEEE;
}

h1 pictures profile of planet {
  text-shadow: 2px 3px #20B2AA;
  letter-spacing: 4px;
  color: #F0F8FF;
  text-align: right;
  font-family: 'Arial', sans-serif;
}

#earthimgs {
  display: inline;
  padding: 20px 0 0 350px;
  position: static;
  float: none;
  width: 100px;
  margin-bottom:-80px;
	
}

#marsimgs {
  display: inline;
  padding: 20px 0 0 80px;
  position: static;
  float: none;
  width: 100px;
  margin-bottom:-80px;
}

#saturnimgs {
  display: inline;
  padding: 20px 0 0 80px;
  position: static;
  float: none;
  width: 100px;
  margin-bottom:-80px;
  }

#uranusimgs {
  display: inline;
  padding: 20px 0 0 80px;
  position: static;
  float: none;
  width: 100px;
 margin-bottom:-80px;
}

table th {
  padding: 10px;
  background-color: #F0FFF0;
  color: #46CDAA;
  font-family: 'Arial',sans-serif;
  border: 1px solid #A9A9A9;	
  
}

table td {
  padding: 10px;
  background-color: #46CDAA;
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;
  border: 1px solid #F0FFFF;
}